"" Source your .vimrc
source ~/.vimrc
source ~/.vim/plugin/vim-surround.vim
"" -- Suggested options --
" Show a few lines of context around the cursor. Note that this makes the
" text scroll if you mouse-click near the start or end of the window.

" Do incremental searching.
" set incsearch
" reference https://jungejason.github.io/ideavim/
exec "nohlsearch"
set ttimeoutlen=0
set timeoutlen=500

set idearefactormode=keep
set NERDTree
set easymotion
map f <Plug>(easymotion-f)
map F <Plug>(easymotion-F)

map <expr> <CR> Easymotion('w', 1, '', '')
map <expr> <C-u><CR> Easymotion('w', -1, '', '')
" 如果你使用的leader key是逗号，可以按以下方式绑定:
" map <leader><leader> <Plug>(easymotion-prefix)

" set multiple-cursors
let g:NERDTreeMapActivateNode='l'
" let g:NERDTreeMapJumpParent='h'
set argtextobj
let g:argtextobj_pairs="[:],(:),<:>"
set commentary
set highlightedyank
let g:highlightedyank_highlight_duration = "200"
noremap p "*p
vnoremap p "_d"*P
"noremap <Del
set surround
set easymotion
"Plug 'easymotion/vim-easymotion'
"map mf <Plug>(easymotion-bd-f)
"nmap mj <Plug>(easymotion-overwin-f)
noremap <S-CR> ,
noremap <Leader>q :q!<CR>

noremap <Leader>d "_d
noremap ; $a;<ESC>
noremap{ $a {<CR>
" noremap <Leader>f ^f<SPACE>lciw;
noremap <Leader>x ^f=2hciw
noremap <Leader>y "_y
nnoremap <Leader>r viw"_dP
inoremap jk <ESC>



" Don't use Ex mode, use Q for formatting.
" map Q gq
"" -- Map IDE actions to IdeaVim" -- https://jb.gg/abva4t
"" Map \r to the Reformat Code action
"map \r <Action>(ReformatCode)

"" Map <leader>d to start debug
"map <leader>d <Action>(Debug)


"" Map \b to toggle the breakpoint on the current line
"map \b <Action>(ToggleLineBreakpoint)

" Find more examples here: https://jb.gg/share-ideavimrc
nmap bb <Action>(ToggleLineBreakpoint)
nmap br <Action>(Resume)
nmap bp <Action>(Debugger.PopFrame)
nmap bv <Action>(ViewBreakpoints)
nmap bf <Action>(ForceRunToCursor)
nmap bi <Action>(ForceStepInto)
nmap bn <Action>(ForceStepOver)
map be <Action>(XDebugger.Evaluation.Dialog.Tree.Popup)

nmap R <Action>(NextTab)
nmap E <Action>(PreviousTab)
nmap gr <Action>(FindUsages)
map <Leader>R  <Action>(RenameElement)
map <Leader>T <Action>(ProjectViewPopupMenuRefactoringGroup)
map gw <Action>(OpenProjectWindows)
map gm <Action>(GotoNextBookmark)
map gM <Action>(GotoPreviousBookmark)
map gi <Action>(GotoImplementation)
" noremap gd <Action>(GotoDeclaration)
nmap gu <Action>(GotoSuperMethod)
nmap sl <Action>(NextWindow)
nmap sh <Action>(PreviousWindow)
nmap sw <Action>(EditSourceInNewWindow)
nmap sp <Action>(PasteGroup)
nmap st <Action>(ActivateTerminalToolWindow)
nmap sd <Action>(ActivateDebugToolWindow)
nmap sr <Action>(ActivateRunToolWindow)
" ActivateHierarchyToolWindow
nmap ss <Action>(ToolWindowsGroup)
nmap J <Action>(MethodDown)
nmap K <Action>(MethodUp)
nmap sp <Action>(PasteMultiple)


nmap zR <Action>(Run)
nmap zr <Action>(RunClass)
nmap zD <Action>(Debug)
nmap zd <Action>(DebugClass)
nmap zb <Action>(Java.BuildMenu)

" nnoremap gcc <Action>(CommentByLineComment)
" vnoremap gc <Action>(CommentByLineComment)
map gC <Action>(CommentByBlockComment)
" noremap gw <Action>(Git.CompareWithBranch)
map <C-u> <Action>(Vcs.RollbackChangedLines)
nmap ga <Action>(ShowIntentionActions)
" nnoremap gc <Action>(GotoClass)

nmap <Leader>c <Action>(CloseContent)
nmap <Leader>C <Action>(CloseAllEditorsButActive)
nmap <Leader>P <Action>(SelectIn)
nnoremap <Leader>p :NERDTree<CR>
" nmap <Leader>p :NERDTreeFind<CR>
nmap <Leader>w <Action>(HideAllWindows)

nmap zz <Action>(CollapseRegion)
nmap zZ <Action>(CollapseAllRegions)
nmap zo <Action>(ExpandRegion)
nmap zO <Action>(ExpandAllRegions)
nmap = <Action>(ReformatCode)

nmap ma <Action>(ShowBookmarks)
nmap mm <Action>(ToggleBookmark)

nmap <Leader>F <Action>(FindInPath)
nmap <Leader>f <Action>(SearchEverywhere)
nmap <Leader>e <Action>(RecentFiles)
nmap <C-p> <Action>(ParameterInfo)
imap <C-p> <Action>(ParameterInfo)
nmap <Leader>s <Action>(FileStructurePopup)


" Favorites
" nmap sf <Action>(ActivateFavoritesToolWindow)
" AddAllToFavorites
"nmap mF <Action>(AddNewFavoritesList)
"nmap mf <Action>(AddToFavorites)
" AddToFavoritesPopup
" EditFavorites
" FavoritesViewPopupMenu
" SendToFavoritesGroup

" Quick
" QuickPreview
nmap qt <Action>(QuickTypeDefinition)
nmap qd <Action>(QuickJavaDoc)
nmap qi <Action>(QuickImplementations)

" Split
nmap sz <Action>(MaximizeEditorInSplit)

nmap gl <Action>(NextSplitter)
nmap gh <Action>(PrevSplitter)
nmap sq <Action>(Unsplit)
" ChangeSplitOrientation
" Console.SplitLine                                  <M-CR>
" EditorSplitLine                                    <M-CR>
" OpenInRightSplit                                   <S-CR> button=1 clickCount=2 modifiers=512
" ServiceView.SplitByType
" jSplitHorizontally
" SplitVertically
" StretchSplitToBottom
" StretchSplitToLeft
" StretchSplitToRight
" StretchSplitToTop
" Terminal.NextSplitter                              <A-Tab>
" Terminal.PrevSplitter                              <A-S-Tab>
" TerminalSplitActionBase$Horizontal
" TerminalSplitActionBase$Vertical
" Unsplit
" UnsplitAll

" "
nmap gR <Action>(CallHierarchy)

nmap <C-o> <Action>(Back)
nmap <C-n> <Action>(Forward)

