"" Source your .vimrc
source ~/.vimrc
source ~/.vim/plugin/vim-surround.vim
"" -- Suggested options --
" Show a few lines of context around the cursor. Note that this makes the
" text scroll if you mouse-click near the start or end of the window.

" Do incremental searching.
" set incsearch
" reference https://jungejason.github.io/ideavim/
exec "nohlsearch"
set idearefactormode=keep
set NERDTree
" set multiple-cursors
let g:NERDTreeMapActivateNode='l'
" let g:NERDTreeMapJumpParent='h'
set argtextobj
let g:argtextobj_pairs="[:],(:),<:>"
set commentary
noremap p "*p
vnoremap p "_d"*P
"noremap <Del
set surround
set easymotion
noremap <S-CR> ,

noremap ; $a;<ESC>
noremap{ $a {<CR>
" noremap <Leader>f ^f<SPACE>lciw;
noremap <Leader>x ^f=2hciw

" Don't use Ex mode, use Q for formatting.
" map Q gq
"" -- Map IDE actions to IdeaVim" -- https://jb.gg/abva4t
"" Map \r to the Reformat Code action
"map \r <Action>(ReformatCode)

"" Map <leader>d to start debug
"map <leader>d <Action>(Debug)

"" Map \b to toggle the breakpoint on the current line
"map \b <Action>(ToggleLineBreakpoint)

" Find more examples here: https://jb.gg/share-ideavimrc
nnoremap bb :action ToggleLineBreakpoint<CR>
nnoremap br :action Resume<CR>
nnoremap bp :action Debugger.PopFrame<CR>
nnoremap bv :action ViewBreakpoints<CR>
nnoremap bf :action ForceRunToCursor<CR>
nnoremap bi :action ForceStepInto<CR>
nnoremap bn :action ForceStepOver<CR>
noremap be :action XDebugger.Evaluation.Dialog.Tree.Popup<CR>

nnoremap R :action NextTab<CR>
nnoremap E :action PreviousTab<CR>
nnoremap gr :action FindUsages<CR>
noremap <Leader>R  :action RenameElement<CR>
noremap gw :action OpenProjectWindows<CR>
noremap gm :action GotoNextBookmark<CR>
noremap gM :action GotoPreviousBookmark<CR>
noremap gi :action GotoImplementation<CR>
" noremap gd :action GotoDeclaration<CR>
noremap gu :action GotoSuperMethod<CR>

nnoremap zR :action Run<CR>
nnoremap zr :action RunClass<CR>
nnoremap zD :action Debug<CR>
nnoremap zd :action DebugClass<CR>

" nnoremap gcc :action CommentByLineComment<CR>
" vnoremap gc :action CommentByLineComment<CR>
noremap gC :action CommentByBlockComment<CR>
" noremap gw :action Git.CompareWithBranch<CR>
noremap <C-r> :action Vcs.RollbackChangedLines<CR>
nnoremap ga :action ShowIntentionActions<CR>
" nnoremap gc :action GotoClass<CR>

nnoremap <Leader>c :action CloseContent<CR>
nnoremap <Leader>C :action CloseAllEditorsButActive<CR>
nnoremap <Leader>P :action SelectIn<CR>
nnoremap <Leader>p :NERDTree<CR>
nnoremap <Leader>w :action HideAllWindows<CR>

nnoremap zz :action CollapseRegion<CR>
nnoremap zZ :action CollapseAllRegions<CR>
nnoremap zo :action ExpandRegion<CR>
nnoremap zO :action ExpandAllRegions<CR>
nnoremap = :action ReformatCode<CR>

nnoremap st :action ActivateTerminalToolWindow<CR>
nnoremap sd :action ActivateDebugToolWindow<CR>
nnoremap sr :action ActivateRunToolWindow<CR>
nnoremap ss :action ToolWindowsGroup<CR>

nnoremap ma :action ShowBookmarks<CR>
nnoremap mm :action ToggleBookmark<CR>

nnoremap <Leader>F :action FindInPath<CR>
nnoremap <Leader>f :action SearchEverywhere<CR>
nnoremap <Leader>e :action RecentFiles<CR>
nnoremap <C-p> :action ParameterInfo<CR>
inoremap <C-p> <ESC>:action ParameterInfo<CR>a
nnoremap <C-s> :action FileStructurePopup<CR>
