"" Source your .vimrc
source ~/.vimrc
source ~/.vim/plugin/vim-surround.vim
"" -- Suggested options --
" Show a few lines of context around the cursor. Note that this makes the
" text scroll if you mouse-click near the start or end of the window.

" Do incremental searching.
" set incsearch
set idearefactormode=keep
noremap p "*p
vnoremap p "1d"*P
"noremap <Del
set surround
set easymotion
noremap <S-CR> ,

noremap ; $a;<ESC>
noremap{ $a {<CR>
" noremap <Leader>f ^f<SPACE>lciw;
noremap <Leader>f ^f=2hciw

" Don't use Ex mode, use Q for formatting.
" map Q gq
"" -- Map IDE actions to IdeaVim" -- https://jb.gg/abva4t
"" Map \r to the Reformat Code action
"map \r <Action>(ReformatCode)

"" Map <leader>d to start debug
"map <leader>d <Action>(Debug)

"" Map \b to toggle the breakpoint on the current line
"map \b <Action>(ToggleLineBreakpoint)

" Find more examples here: https://jb.gg/share-ideavimrc
noremap bb :action ToggleLineBreakpoint<CR>
noremap br :action Resume<CR>
noremap bp :action Debugger.PopFrame<CR>
noremap bv :action ViewBreakpoints<CR>
noremap bf :action ForceRunToCursor<CR>
noremap bi :action ForceStepInto<CR>
noremap bn :action ForceStepOver<CR>
noremap be :action XDebugger.Evaluation.Dialog.Tree.Popup<CR>

noremap gl :action NextTab<CR>
noremap gh :action PreviousTab<CR>
noremap gr :action FindUsages<CR>
noremap R  :action RenameElement<CR>
noremap gw :action OpenProjectWindows<CR>
noremap gm :action GotoNextBookmark<CR>
noremap gM :action GotoPreviousBookmark<CR>
" noremap gi :action GotoImplementation<CR>
" noremap gd :action GotoDeclaration<CR>
" noremap gu :action GotoSuperMethod<CR>

noremap zR :action Run<CR>
noremap zr :action RunClass<CR>
noremap zD :action Debug<CR>
noremap zd :action DebugClass<CR>

nnoremap gcc :action CommentByLineComment<CR>
vnoremap gc :action CommentByLineComment<CR>
noremap gC :action CommentByBlockComment<CR>
" noremap gd :action Git.CompareWithBranch<CR>

noremap <Leader>c :action CloseContent<CR>
noremap <Leader>C :action CloseAllEditorsButActive<CR>
noremap <Leader>e :action SelectIn<CR>
noremap <Leader>w :action HideAllWindows<CR>

noremap zz :action CollapseRegion<CR>
noremap zZ :action CollapseAllRegions<CR>
noremap <Leader>z :action ExpandRegion<CR>
noremap <Leader>Z :action ExpandAllRegions<CR>
noremap = :action ReformatCode<CR>

noremap wt :action ActivateTerminalToolWindow<CR>
noremap wd :action ActivateDebugToolWindow<CR>
noremap wr :action ActivateRunToolWindow<CR>

noremap ma :action ShowBookmarks<CR>
noremap mm :action ToggleBookmark<CR>
